*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: #dcdcdc;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url('/Cl-nica-SePrice/img/hero-fondo.jpg')
}

i{
    color: white;
    padding: 10px;
}

.icono{
margin: 10px;
border: none;
border-radius: 5px;
background-color: rgb(28, 48, 161);
}

.icono:hover{
    transition: 0.2s;
    background-color: rgb(23, 74, 168);

}

main .iniciarSecion{
    background-image: url("../img/backgroundLogin.jpg");
    width: 40%;
    height: 100%;
    margin: 0 auto;
}
main .iniciarSecion .house{
    color: white;
    font-size: 30px;
    position: absolute;
    margin: 0 auto;
    z-index: 3;
}
main .iniciarSecion .titulo{
    padding-top: 70px;
}
main .iniciarSecion .titulo p{
    color: white;
    font-size: 25px;
    padding: 5px;
    
}
main .iniciarSecion .titulo h1{
    color: white;
    font-size: 35px;
}
main .iniciarSecion .foto img{
    width: 370px;
}
main .iniciarSecion .contenido{
    width: 100%;
    height: 172px;
    background-color: rgba(255, 255, 255, .7);
    position: relative;
    bottom: 5%;
    z-index: 3;
}
main .iniciarSecion .contenido a{
    display: inline-block;
    line-height: 30px;
    margin-top: 30px;
    width: 90%;
    height: 40px;
    background-color: rgb(28, 48, 161);
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: white;
    transition: .2s;
}
main .iniciarSecion .contenido a:hover{
    background-color: rgb(23, 74, 168);
}

/* INICIO DEL RESPONSIVE */
@media (max-width: 1550px){
    main .iniciarSecion .house{
        display: none;
    }
    main .iniciarSecion .titulo{
        padding: 25px;
    }
    main .iniciarSecion .titulo h1{
        font-size: 30px;
    }
    main .iniciarSecion .titulo p{
        font-size: 20px;
    }

    main .iniciarSecion .foto img{
        width: 255px;
    }
    main .iniciarSecion .contenido{
        height: 210px;
    }
}
@media (max-width: 820px){
    main{
        height: 108vh;
    }
    main .iniciarSecion{
        width: 80%;
        height: 108vh;
    }
}